:root {
    --ui-black: #2d2926;
    --ui-grey: #888B8D;
    --ui-light-grey: #C8CDD0;
    --ui-white-grey: #EEF3F5;
    --primary-brown: #4F2C1D;
    --secondary-brown: #7C4D3A;
    --primary-purple: #682E86;
    --secondary-purple: #A74DC3;
    --primary-blue: #00B8E4;
    --secondary-blue: #9ADBE8;
    --primary-green: #2EB135;
    --secondary-green: #78BE20;
    --primary-yellow: #FFD200;
    --secondary-yellow: #FCE122;
    --primary-orange: #EF8200;
    --secondary-orange: #F2AF32;
    --primary-red: #BF0D3E;
    --secondary-red: #E70F47;
}

/************ basics ************/

/****** addressing wrapping of inline elements in <p> tags ******/

p:has(>em>a),
p:has(>img) {
    margin-bottom: 0;
}

/****** fonts ******/

body.ribbit,
body.ribbit h1,
body.ribbit h2,
body.ribbit h3,
body.ribbit h3 a,
body.ribbit h4,
body.ribbit h5,
body.ribbit h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--ui-black);
}

body.ribbit h1,
body.ribbit h2,
body.ribbit h3 {
    font-family: museo-slab, serif;
    font-weight: 600;
}

body.ribbit h1 {
    font-size: 42px;
    line-height: 1.14;
}

body.ribbit h2 {
    font-size: 26px;
    line-height: 1.35;
}

body.ribbit h3 {
    font-size: 24px;
    line-height: 1.25;
}

body.ribbit .HLLandingControl h3,
body.ribbit h3 a,
body.ribbit .bootstrap-4 a.link-title {
    font-size: 17px;
    line-height: 1.35;
    font-weight: 600;
}

body.ribbit h4 {
    font-size: 17px;
    line-height: 1.35;
    font-weight: 700;
}

body.ribbit .overline .HtmlContent>p:first-child>strong {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 600;
}

a,
a:is(:hover, :focus),
button,
button:is(:hover, :focus),
input,
input:is(:hover, :focus) {
    transition: .3s;
}

/*** re-setting Thrive text ***/

body.ribbit .bootstrap-4 a.link-title,
body.ribbit .bootstrap-4 a.link-meta,
body.ribbit .bootstrap-4 .text-meta {
    color: var(--ui-black);
}
body.ribbit .bootstrap-4 * {
    line-height: 1.5;
}
body.ribbit .bootstrap-4 .text-meta {
    font-weight: 400;
}

/****** buttons ******/

.make-buttons em {
    display: inline-block;
    margin: -5px;
}

.make-buttons em a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    font-style: normal;
}

.make-buttons em a,
.btn {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 40px;
}
.make-buttons.small em a,
body.ribbit .btn.btn-sm {
    padding: 5px 12px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    text-transform: none;
    letter-spacing: 0;
    border-radius: 30px;
}
.make-buttons.xs em a,
body.ribbit .btn.btn-xs {
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 1.2;
}

.make-buttons em a,
.btn-primary,
body.ribbit .btn-primary,
body.ribbit .btn-primary.active,
body.ribbit .btn.btn-success,
body.ribbit .btn-success.active,
body.ribbit .btn.btn-info,
body.ribbit .btn-info.active,
body.ribbit .open .dropdown-toggle.btn-primary,
body.ribbit .btn.btn-default[id*=btnDownload],
body.ribbit .open .dropdown-toggle.btn-success,
.HLLandingControl div[id*="BottomLink"] .btn-default {
    color: var(--ui-black);
    border-color: var(--ui-black);
    background: transparent;
}

.make-buttons em a:is(:hover, :focus),
.btn-primary:is(:hover, :focus),
body.ribbit .btn-primary:is(:hover, :focus),
body.ribbit .btn-primary.active:is(:hover, :focus),
body.ribbit .btn.btn-info:is(:hover, :focus),
body.ribbit .btn-info.active:is(:hover, :focus),
body.ribbit .open .dropdown-toggle.btn-primary:is(:hover, :focus),
body.ribbit .btn.btn-default[id*=btnDownload]:is(:hover, :focus),
.HLLandingControl div[id*="BottomLink"] .btn-default:is(:hover, :focus) {
    color: #fff;
    background-color: var(--ui-black);
    border-color: var(--ui-black);
}

.make-buttons.purple em a,
body.ribbit .btn.btn-success,
body.ribbit .btn-success.active,
body.ribbit .open .dropdown-toggle.btn-success {
    color: #fff;
    border-color: var(--primary-purple);
    background-color: var(--primary-purple);
}

.make-buttons.purple em a:is(:hover, :focus),
body.ribbit .btn.btn-success:is(:hover, :focus),
body.ribbit .btn-success.active:is(:hover, :focus),
body.ribbit .open .dropdown-toggle.btn-success:is(:hover, :focus) {
    background-color: transparent;
    color: var(--primary-purple);
    border-color: var(--primary-purple);
}

.make-buttons.grey em a,
.btn-default {
    color: var(--ui-black);
    background-color: var(--ui-white-grey);
    border-color: var(--ui-white-grey);
}

.make-buttons.grey em a:is(:hover, :focus),
.btn-default:is(:hover, :focus) {
    color: var(--ui-black);
    background-color: var(--ui-light-grey);
    border-color: var(--ui-light-grey);
}

.make-buttons.white em a {
    color: #fff;
    background: transparent;
    color: #fff;
}

.make-buttons.white em a:is(:hover, :focus) {
    background-color: #fff;
    border-color: #fff;
    color: var(--primary-purple);
}

/* 'more' buttons on widgets */

.HLLandingControl div[id*="BottomLink"] .col-md-12 {
    padding: 0;
}

/****** row background ******/

.bg-grey,
body.ribbit:not(.interior).bodyBackground,
body.ribbit.interior.bodyBackground {
    background-color: var(--ui-white-grey);
}
#MPOuterMost #MPOuter .bg-white {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 85px;
    position: relative;
}
.bg-white::before,
.bodyBackground .bg-white::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-position: center;
    background-size: 100% 100%;
    display: block;
    height: 32px;
}
.bg-white::before {
    top: -32px;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/KIDSGARDEN/865de640-2eb7-431b-9d9d-cdc82b516cc9/UploadedImages/bg-white-top.svg');
}
.bodyBackground .bg-white::after {
    bottom: 0;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/KIDSGARDEN/865de640-2eb7-431b-9d9d-cdc82b516cc9/UploadedImages/bg-white-bottom.svg');
}

/************ homepage ************/

/****** search ******/

body.ribbit .search-row {
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.search-row>.col-md-4 {
    max-width: 370px;
}

body.ribbit .row.search-row>.col-md-8 {
    max-width: 700px;
    margin-left: auto;
}

.search-row>.col-md-4 h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.search-row>.col-md-4 p {
    margin-bottom: 0;
}

/*** search box ***/

.SearchInputs .input-group {
    position: relative;
    display: block;
}

.SearchInputs .input-group .form-control {
    height: 54px;
    border-radius: 50px;
    box-shadow: none;
    border: 1px solid var(--ui-light-grey);
    display: block;
}

.SearchInputs .form-control+.input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
    height: 54px;
}

.SearchInputs button[id*="SearchButton"] {
    width: 54px;
    height: 54px;
    background: transparent;
    border: none;
    color: var(--primary-purple);
    font-size: 24px;
    line-height: 54px;
    text-align: center;
    padding: 0;
    margin-left: 0;
}

/************ white tiles ************/

.tile {
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(13, 45, 75, 0.04), 0px 10px 20px 5px rgba(13, 45, 75, 0.06);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
body.ribbit .tile h2,
body.ribbit .ContentUserControl.tile .HLLandingControl h2,
body.ribbit .ContentUserControl.tile .HLLandingControl .heading h2,
body.ribbit .ContentUserControl.tile .HLLandingControl .row.heading h2 {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
body.ribbit #MPOuterMost #MPOuter .ContentUserControl.tile .HLLandingControl .row.heading {
    padding: 0;
    border: none;
}
body.ribbit #MPOuterMost .ContentUserControl.tile .HLLandingControl {
    filter: none;
    border-radius: 10px;
    background: transparent;
}
body.ribbit #MPOuterMost #MPOuter .ContentUserControl.tile .HLLandingControl .row {
    padding: 0;
}
body.ribbit #MPOuterMost #MPOuter .ContentUserControl.tile .HLLandingControl .Content {
    padding: 20px;
}
.tile .HLLandingControl ul li {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

/************ content tiles ************/

.row-full .content-tile {
    margin: 80px 0 0;
}

.content-tile.featured-member {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06), 0px 0px 30px rgba(0, 0, 0, 0.04), 0px 0px 10px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    position: relative;
    padding-top: 120px;
    background-color: white;
}

.content-tile.featured-member {
    display: inline-block;
}

.content-tile.featured-member::before {
    content: '';
    height: 120px;
    width: 100%;
    background: radial-gradient(51.32% 216.14% at 88.16% 44.33%, #80C826 0%, #61A50B 100%);
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
}

.content-tile.featured-member::after {
    content: '';
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/KIDSGARDEN/292e4b11-0501-4ef5-9527-38717cb139be/UploadedImages/featured-member.png');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
}

.content-tile.featured-member>h2 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 12px 20px 8px;
    background-color: var(--primary-yellow);
    font-size: 18px;
    line-height: 1;
    font-family: chaloops;
    font-weight: 600;
    text-transform: uppercase;
}

.content-tile.featured-member img {
    margin-top: -80px;
    position: relative;
    z-index: 5;
}

.content-tile.featured-member .HtmlContent h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: museo-slab;
    color: var(--ui-black);
}

.content-tile.featured-member .HtmlContent p {
    font-size: 18px;
    line-height: 22px;
    color: #636667;
    font-weight: 300;
}

/* Content Tile */

.home .content-tile {
    border-radius: 20px;
}

.content-tile .HtmlContent {
    text-align: center;
    padding: 30px;
}

.home .content-tile.brown {
    background-color: var(--primary-brown);
}

.home .content-tile.brown {
    margin-top: 30px;
}

.content-tile.brown h2 {
    margin-top: 0;
    padding-top: 46px;
    position: relative;
}

.content-tile.brown h2::before {
    content: '';
    width: 50px;
    height: 4px;
    background: var(--primary-yellow);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.content-tile.brown .HtmlContent h2,
.content-tile.brown .HtmlContent p,
.content-tile.brown em a {
    color: white;
    border-color: white;
}

.content-tile.brown img {
    max-width: 232px;
    margin: 0 auto;
}

.content-tile em a {
    margin-top: 20px;
}

.content-tile.brown em a {
    margin-top: 10px;
}

.content-tile .HtmlContent p:last-of-type {
    margin-bottom: 0;
}

/************ activity feed ************/

.FeedWidget {
    padding-right: 24px;
}

body .feed-list .feed-title-filter {
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(13, 45, 75, 0.04), 0px 10px 20px 5px rgba(13, 45, 75, 0.06);
    margin-bottom: 20px;
}

body.ribbit:not(.interior) .row>div[class*=col-md-]>div.ContentItemReact.FeedWidget .row.heading {
    border-bottom: none;
    padding: 8px;
}

body .feed-list .feed-title-filter~.feed-cards-grid .layout-grid-cell:first-of-type .feed-item-row,
body .feed-list .layout-grid-cell .feed-item-row {
    border-radius: 8px;
}

.feed-item-row .images-preview {
    border-radius: 8px 8px 0 0;
}

body .feed-item-row.card {
    box-shadow: 0px 4px 4px 0px rgba(13, 45, 75, 0.04), 0px 10px 20px 5px rgba(13, 45, 75, 0.06);
}

body .layout-grid-overflow-hidden .layout-grid-cell {
    margin-bottom: 20px !important;
}

body .layout-grid-overflow-hidden .layout-grid-cell {
    padding: 0;
}

.bootstrap-4 .layout-grid-cell .p-3 {
    padding: 20px !important;
}
.bootstrap-4 .layout-grid-cell .p-3.pt-1 {
    padding-top: 4px !important;
}

.bootstrap-4 .layout-grid-cell .p-2 {
    padding: 12px 40px !important;
}

.FeedWidget .hl-profile-avatar.lg img {
    width: 80px;
    height: 80px;
}

.feed-item-row>.p-3>.d-flex>.pe-2.me-1 {
    margin-right: 20px !important;
    padding-right: 0 !important;
}

/*** re-setting specific content styling ***/

body.ribbit .FeedWidget .bootstrap-4 .font-size-xs {
    font-size: 15px !important;
}
body.ribbit .bootstrap-4 a.link-meta {
    font-weight: 500;
}
.feed-item-row.card > .p-3 > .text-secondary {
    /* font-size: 15px !important; */
    color: var(--ui-black) !important;
}
body.ribbit .FeedWidget .bootstrap-4 .bg-bg1,
body.ribbit .FeedWidget .bootstrap-4 .bg-bg2 {
    background-color: var(--ui-white-grey) !important;
}
body.ribbit .FeedWidget .bootstrap-4 .bg-bg2 {
    border-radius: 20px;
    font-size: 11px;
    padding: 4px 10px;
    font-weight: 500;
}
body.ribbit .FeedWidget .bootstrap-4 .bg-bg2,
body.ribbit .FeedWidget .bootstrap-4 .bg-bg2 * {
    line-height: 1.4;
}
body.ribbit .FeedWidget .bootstrap-4 .bg-bg2.text-meta {
    font-size: 11px !important;
    padding: 4px 10px !important;

}
.FeedWidget .bootstrap-4 .text-secondary {
    color: var(--ui-black) !important;
}
body.ribbit .tags-list a.label-search-tag {
    border: none;
}
.feed-item-row .justify-content-between .btn-ghost + a.link-standalone {
    color: var(--ui-black);
    font-size: 15px !important;
}

/* icon colours */

.FeedWidget .fa-calendar-alt {
    color: var(--primary-orange) !important;
}
.FeedWidget .fa-comment {
    color: var(--primary-blue) !important;
}
.FeedWidget .fa-megaphone {
    color: var(--primary-green) !important;
}
.FeedWidget .fa-newspaper {
    color: var(--primary-red) !important;
}
.FeedWidget .fa-books {
    color: var(--primary-purple) !important;
}

/* date blocks */

body.ribbit .calendar-stamp {
    border: none;
    border-radius: 50%;
    background-color: var(--primary-purple);
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

body.ribbit .calendar-stamp .month, 
body.ribbit .calendar-stamp .date {
    line-height: 1;
    color: #fff;
    margin: 0;
}
body.ribbit .calendar-stamp .date {
    font-family: 'chaloops', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
body.ribbit .calendar-stamp .month {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

/* 'show more' link */

.FeedWidget .feed-item-row button.btn-link {
    text-decoration: underline;
    font-weight: 500;
    color: var(--ui-black) !important;
}

/* removing the outline on focus for the grid cells as it's hardly visible and only happens if you right-click to inspect */

body.ribbit .layout-grid .layout-grid-cell:focus {
    outline: none;
}

/************ popular groups ************/

/****** general community list styling ******/

.community-list {
    padding-bottom: 15px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.community-list > .col-md-7 {
    padding-left: 0;
}
.community-list > .col-md-5 {
    padding-right: 0;
}
.community-list > .col-md-5 > .row .pull-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: -5px;
}
body.ribbit .community-list .btn-community-stats-static,
body.ribbit .community-list .btn-community-stats-static:is(:hover, :focus) {
    padding: 4px 10px;
    background-color: var(--ui-white-grey);
    border: none;
    border-radius: 20px;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    color: var(--ui-black);
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    margin-bottom: 0;
}
body.ribbit .community-list .btn-community-stats-static .badge {
    background: transparent;
    color: var(--ui-black);
    padding: 0;
    min-width: 0;
    font-size: 11px;
    line-height: 14px;
    top: 0;
    font-weight: 500;
    margin-right: 3px;
}

/*** hiding the nbsp after titles ***/

.community-list h3 {
    margin-right: -7px;
}

/****** homepage popular groups styling ******/

.popular-groups div[id*="UpdatePanel"] {
    padding: 20px;
}
.popular-groups .community-list {
    display: flex;
    flex-direction: column;
}
.popular-groups .community-list > .col-md-7 {
    padding-right: 0;
    width: 100%;
}
.popular-groups .community-list h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.popular-groups .community-list > .col-md-5 {
    padding-left: 0;
    width: 100%;
}
.popular-groups .community-list > .col-md-5 > .row {
    margin-left: 0;
    margin-right: 0;
}
.popular-groups .community-list > .col-md-5 > .row > .col-md-12 {
    padding: 0;
}
.popular-groups .community-list > .col-md-5 > .row .pull-right {
    float: none !important;
}
.popular-groups .pagination {
    display: none;
}

/*** community stats buttons ***/

.popular-groups .community-list .btn-community-stats-static[id*="DocumentsCount"] {
    display: none;
}
.popular-groups .community-list .btn-community-stats-static::after {
    font-family: 'Font Awesome 6 Pro';
    color: var(--ui-grey);
    font-size: 13px;
    line-height: 14px;
    float: left;
    font-weight: 900;
    margin-right: 6px;
}
.popular-groups .community-list .btn-community-stats-static[id*="MembersCount"]::after {
    content: '\f0c0';
}
.popular-groups .community-list .btn-community-stats-static[id*="DiscussionCount"]::after {
    content: '\f086';
}

/*** icons ***/

.popular-groups .community-list {
    padding-left: 55px;
    position: relative;
}
.popular-groups .community-list::before {
    position: absolute;
    font-family: 'Font Awesome 6 Pro';
    color: #fff;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    display: block;
}
.popular-groups .community-list:nth-child(2)::before {
    content: '\f713';
    background-color: var(--primary-orange);
}
.popular-groups .community-list:nth-child(3)::before {
    content: '\f06c';
    background-color: var(--primary-blue);
}
.popular-groups .community-list:nth-child(4)::before {
    content: '\f1bb';
    background-color: var(--primary-green);
}

/************ funding opportunities ************/

.funding-opportunities .HLLandingControl ul li {
    display: flex;
    flex-direction: row;
}
.funding-opportunities .HLLandingControl ul li .img-container {
    width: 50px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
.funding-opportunities .HLLandingControl ul li .title-row {
    width: calc(100% - 60px);
}
#MPOuterMost #MPOuter #MainCopy_ContentWrapper .funding-opportunities .HLLandingControl ul li .title-row {
    padding: 0;
}
.funding-opportunities .HLLandingControl ul li .content-row {
    display: none;
}
.funding-opportunities .HLLandingControl ul li .title-row h3 {
    margin-bottom: 0;
}
.funding-opportunities .HLLandingControl ul li .title-row h5 br {
    display: none;
}
.funding-opportunities .HLLandingControl ul li .title-row h5 {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 10px;
}
.funding-opportunities .HLLandingControl ul li .title-row h5 span {
    color: #000 !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important;
}

/************ events ************/
.featured-resources .library-list,
.event-wrapper .HLEventList ul:not(.dropdown-menu) li {
    background-color: #fff;
    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06), 0px 0px 30px rgba(0, 0, 0, 0.04), 0px 0px 10px rgba(0, 0, 0, 0.03); */
    border-radius: 20px;
    position: relative;
    padding-top: 180px;
    margin: 0 15px;
    overflow: hidden;
}

.featured-resources .library-list .img-container,
.HLEventList div[id*="ContentPanel"] .img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.featured-resources .slick-track,
.HLEventList .slick-track {
    display: flex;
    margin: 0 -15px;
}

.featured-resources .slick-track>a,
.HLEventList .slick-track>a {
    height: auto;
}

.featured-resources .slick-track>a,
.event-wrapper .HLEventList .slick-track>a {
    margin-top: 30px;
    margin-bottom: 33px;
    transition: 0.3s;
}

.featured-resources .slick-track>a:hover,
.featured-resources .slick-track>a:focus,
.event-wrapper .HLEventList .slick-track>a:hover,
.event-wrapper .HLEventList .slick-track>a:focus {
    margin-top: 26px;
    margin-bottom: 37px;
    transition: 0.3s;
}

.featured-resources .slick-track>a:hover h3 a,
.featured-resources .slick-track>a:focus h3 a,
.event-wrapper .HLEventList .slick-track>a:hover h3 a,
.event-wrapper .HLEventList .slick-track>a:focus h3 a {
    color: #636667;
    text-decoration: underline;
    transition: 0.3s;
}

.featured-resources .slick-track>a .library-list,
.HLEventList .slick-track>a li {
    height: 100%;
    padding-bottom: 0;
}

.featured-resources .slick-arrow,
.event-wrapper .HLEventList .slick-arrow {
    padding: 14px 16px;
    border-radius: 40px;
    background-color: #fff;
    border: 0;
    position: absolute;
    bottom: -46px;
    left: calc(50% - 295px);
    z-index: 5;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.featured-resources .next-arrow,
.event-wrapper .HLEventList .next-arrow {
    left: calc(50% - 235px);
}

.featured-resources .slick-arrow i,
.event-wrapper .HLEventList .slick-arrow i {
    color: var(--primary-brown);
    font-size: 20px;
    line-height: 20px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
}

.featured-resources .prev-arrow i::before,
.event-wrapper .HLEventList .prev-arrow i::before {
    content: '\f060';
}

.featured-resources .next-arrow i::before,
.event-wrapper .HLEventList .next-arrow i::before {
    content: '\f061';
}

.event-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}

.event-wrapper h2 {
    color: var(--ui-black);
}

.event-wrapper .HLEventList .btn-group>a:first-of-type {
    background-color: #000;
    border-color: #000;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.event-wrapper .HLEventList .btn-group>a:last-of-type {
    background-color: #000;
    border-color: #000;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.event-wrapper .HLEventList .heading .col-md-12 h2 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.event-wrapper .HLEventList .heading .col-md-12 h2::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--primary-yellow);
    left: 15px;
    top: -12px;
    position: absolute;
}

.event-wrapper .HLEventList .heading h3 {
    margin-bottom: 0;
}

.event-wrapper .HLEventList h2 .add-event-button {
    float: right;
}

.event-wrapper .HLEventList h2 .add-event-button>.form-group {
    margin-bottom: 0;
}

.event-wrapper .HLEventList h2,
.home .featured-resources h2 {
    font-size: 26px;
}

.event-wrapper .HLEventList {
    position: relative;
}

.event-wrapper .HLEventList::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(50% - 600px);
    background: var(--ui-white-grey);
    z-index: 5;
}

.HLEventList ul li .title-row .col-md-3,
.HLEventList ul li .img-container .date-block .calendar-day {
    display: none;
}

.HLEventList ul li .img-container .date-block {
    position: absolute;
    top: 6px;
    right: 6px;
    max-width: 80px;
    padding: 9px 8px !important;
    background: var(--primary-purple);
    border-radius: 70px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06), 0px 0px 30px rgba(0, 0, 0, 0.04), 0px 0px 10px rgba(0, 0, 0, 0.03);
    transition: 0.3s;
}

.HLEventList ul li:hover .img-container .date-block,
.HLEventList ul li:focus .img-container .date-block {
    background: var(--primary-orange);
    transition: 0.3s;
}

.HLEventList ul li .img-container .date-block .calendary-number span {
    font-family: 'Chaloops';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    color: white;
}

.HLEventList ul li .img-container .date-block .calendar-month {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
}

.ContentUserControl .HLEventList,
.HLEventList .Content {
    padding: 0;
    border: 0;
}

.ContentUserControl .HLEventList {
    padding-top: 96px;
    padding-bottom: 80px;
}
.featured-resources .slick-slide, .event-wrapper .HLEventList .slick-slide {
	opacity: 0.2;
}

.featured-resources .slick-slide.slick-active, .event-wrapper .HLEventList .slick-slide.slick-active, .event-wrapper .HLEventList .slick-slide:only-of-type {
	opacity: 1;
}

.event-wrapper .ContentUserControl .HLEventList {
    padding-top: 0px;
    padding-bottom: 0px;
}

.event-wrapper .HLEventList .heading h2,
.event-wrapper .HLEventList div[id*="BottomLink"] {
    max-width: 1200px;
    margin: 0 auto;
}

.event-wrapper .HLEventList .event-description {
    display: none;
}

.event-wrapper .HLEventList .title-row .col-md-9 div:nth-of-type(3) {
    display: block;
    height: 44px;
    overflow-y: hidden;
    color: var(--ui-black);
    font-size: 15px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 3px;
    margin-bottom: 6px;
}

.event-wrapper .HLEventList .title-row .col-md-9 p {
    margin: 0;
}

.event-wrapper .HLEventList ul a {
    color: unset;
}

.event-wrapper .HLEventList h3 a {
    color: var(--ui-black);
    font-size: 20px;
    transition: 0.3s;
}

.home .slick-slider {
    padding-top: 0;
}

.event-wrapper .HLEventList .Content .col-md-12 br {
    display: none;
}

.event-wrapper .HLEventList div:nth-of-type(4),
.event-wrapper .HLEventList .timeAgoFormat {
    background: #F5F7F8;
    border: 1px solid #E4E8EB;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2px 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #636667;
    line-height: 20px;
    letter-spacing: 1px;
    font-family: Montserrat;
    text-transform: uppercase;
    margin-right: 6px;
    margin-bottom: 6px;
}

.event-wrapper .HLEventList div:nth-of-type(4)::before {
    content: '\f3c5';
    font-family: 'Font Awesome 5 Pro';
    font-size: 12px;
    line-height: 1;
    color: #636667;
    display: inline-block;
    margin-right: 3px;
    font-weight: 700;
}

.event-wrapper .HLEventList .timeAgoFormat::before {
    content: '\f017';
    font-family: 'Font Awesome 5 Pro';
    font-size: 12px;
    line-height: 1;
    color: #636667;
    display: inline-block;
    margin-right: 3px;
    font-weight: 700;
}

.event-wrapper .HLEventList ul li>.row .col-md-2 {
    display: none;
}

.event-wrapper .HLEventList ul li>.row .col-md-10 {
    width: 100%;
    padding: 20px 20px 26px !important;
}

.event-wrapper .HLEventList ul li>.row .col-md-10 .title-row .col-md-9 {
    width: 100%;
}

.home .ContentUserControl .HLLandingControl.HLEventList {
    margin-bottom: 0;
}

.event-wrapper .HLEventList .btn-group > a:first-of-type {
	background-color: #000;
	border-color: #000;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
}

.event-wrapper .HLEventList .btn-group > a:last-of-type {
	background-color: #000;
	border-color: #000;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.event-wrapper .HLEventList .heading .col-md-12 h2 {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.event-wrapper .HLEventList .heading .col-md-12 h2::before {
	content: '';
	width: 50px;
	height: 4px;
	background-color: var(--primary-yellow);
	left: 15px;
	top: -12px;
	position: absolute;
}

.event-wrapper .HLEventList .heading h3 {
	margin-bottom: 0;
}

.event-wrapper .HLEventList h2 .add-event-button {
	float: right;
}

.event-wrapper .HLEventList h2 .add-event-button > .form-group {
	margin-bottom: 0;
}

.event-wrapper .HLEventList h2, .home .featured-resources h2 {
	font-size: 26px;
}

.event-wrapper .HLEventList {
	position: relative;
}

.HLEventList ul li .title-row .col-md-3, .HLEventList ul li .img-container .date-block .calendar-day {
	display: none;
}

.HLEventList ul li .img-container .date-block {
	position: absolute;
	top: 6px;
	right: 6px;
	max-width: 80px;
	padding: 9px 8px !important;
	background: var(--primary-purple);
	border-radius: 70px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06), 0px 0px 30px rgba(0, 0, 0, 0.04), 0px 0px 10px rgba(0, 0, 0, 0.03);
	transition: 0.3s;
}

.HLEventList ul li:hover .img-container .date-block, .HLEventList ul li:focus .img-container .date-block { 
	background: var(--primary-orange);
	transition: 0.3s;
 }

.HLEventList ul li .img-container .date-block .calendary-number span { 
	font-family: 'Chaloops';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 48px;
	color: white;
 }

 .HLEventList ul li .img-container .date-block .calendar-month { 
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: white;
  }

.ContentUserControl .HLEventList, .HLEventList .Content {
	padding: 0;
	border: 0;
}

.ContentUserControl .HLEventList {
	padding-top: 96px;
	padding-bottom: 80px;
}

.event-wrapper .HLEventList .heading h2, .event-wrapper .HLEventList div[id*="BottomLink"] {
	max-width: 1200px;
	margin: 0 auto;
}

.event-wrapper .HLEventList .event-description {
	display: none;
}

.event-wrapper .HLEventList .title-row .col-md-9 div:nth-of-type(3) {
	display: block;
	height: 44px;
	overflow-y: hidden;
	color: var(--ui-black);
	font-size: 15px;
	line-height: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding-top: 3px;
	margin-bottom: 6px;
}

.event-wrapper .HLEventList .title-row .col-md-9 p {
	margin: 0;
}

.event-wrapper .HLEventList ul a {
	color: unset;
}

.event-wrapper .HLEventList h3 a {
	color: var(--ui-black);
	font-size: 20px;
	transition: 0.3s;
}

.home .slick-slider {
	padding-top: 0;
}

.event-wrapper .HLEventList .Content .col-md-12 br {
	display: none;
}

.event-wrapper .HLEventList div:nth-of-type(4), .event-wrapper .HLEventList .timeAgoFormat {
	background: #F5F7F8;
	border: 1px solid #E4E8EB;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 2px 6px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #636667;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: Montserrat;
	text-transform: uppercase;
	margin-right: 6px;
	margin-bottom: 6px;
}

.event-wrapper .HLEventList div:nth-of-type(4)::before {
	content: '\f3c5';
	font-family: 'Font Awesome 5 Pro';
	font-size: 12px;
	line-height: 1;
	color: #636667;
	display: inline-block;
	margin-right: 3px;
	font-weight: 700;
}

.event-wrapper .HLEventList .timeAgoFormat::before {
	content: '\f017';
	font-family: 'Font Awesome 5 Pro';
	font-size: 12px;
	line-height: 1;
	color: #636667;
	display: inline-block;
	margin-right: 3px;
	font-weight: 700;
}

.event-wrapper .HLEventList ul li > .row .col-md-2 {
	display: none;
}

.event-wrapper .HLEventList ul li > .row .col-md-10 {
	width: 100%;
	padding: 20px 20px 26px !important;
}

.event-wrapper .HLEventList ul li > .row .col-md-10 .title-row .col-md-9 { 
	width: 100%;
}

#MPOuterMost #MPOuter #MainCopy_ContentWrapper .event-wrapper .HLEventList {
    filter: none;
    background: transparent;
    border-radius: 0;
}